.resetPassword__wrapper {
    display: flex;
    margin-top: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resetPassword__header, .resetPassword__message, .resetPassword__input, .resetPassword__submit {
    margin: 1em;
  }